@import "../../../scss/variables";

.header-top-container {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 78.8%;
  border: 1px solid $gray-light;
  grid-area: content;
}